.form{
  width: 100%;

  & .form__row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include response-min($m){
      flex-direction: row;
    }

    &.form__row--between{
      justify-content: space-between;
    }
  }

  & .form__input{
    width: 100%;
    border-radius: 10px;
    font-size: 1.6rem;
    padding: 1rem;
    flex-wrap: nowrap;
    margin-bottom: 1.2rem;

    &.form__input--submit{
      background-color: rgb(27, 27, 27);
      color: #fff;
      cursor: pointer;
    }
    &.form__input--30{
      max-width: 100%;
      @include response-min($m){
        max-width: 24%;
      }
    }
    &.form__input--80{
      max-width: 100%;
      @include response-min($m){
        max-width: 74%;
      }
    }
  }
}